
/* The Modal (background) */
.text-color-popup {
    color: white;
    background-color: #fbce1b  ;
  }
  
  .popup {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 99999999;
      /* Sit on top */
      padding-top: 20px;
      /* Location of the box */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
  }
  
  .payment-method-active {
      display: block;
  }
  
  .payment-method-hide {
      display: none;
  }
  
  
  .btn-payment-method {
      margin-bottom: 20px;
      width: 50%;
      padding: 5px 10px;
      text-align: center;
      font-weight: 600;
      color: white;
      background-color: #fbce1b;
      border-radius: 5px;
      cursor: pointer;
  }
  
  .btn-payment-method:hover {
  
      background-color: #fbce1b;
  }
  .btn-popup-confirm {
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;
      padding: 5px 20px;
      text-align: center;
      font-weight: 600;
      color: white;
      background-color: #fbce1b;
      border-radius: 5px;
      cursor: pointer;
  }
  
  .btn-popup-confirm:hover {
  
      background-color: #fbce1b;
  }
  
  /* popup Content */
  .popup-content {
      background-color: #fefefe;
      margin: auto;
      border-radius: 5px;
      width: 30%;
  }
  .popup-content-notif {
      background-color: #fefefe;
      margin: auto;
      border-radius: 5px;
      width: 30%;
  }
  @media only screen and (max-width: 425px) {
      .popup-content {
          width: 85% !important;
      }
  
      .popup-content-notif {
          width: 85% !important;
      }
    }
  
    @media only screen and (max-width: 768px) {
      .popup-content {
          width: 50%;
      }
  
      .popup-content-notif {
          width: 85% !important;
      }
    }
  
  .payment-scroller {
      max-height: 80vh;
      min-height: 20vh;
      overflow-y: scroll;
      overflow-x: hidden;
  }
  
  .payment-scroller::-webkit-scrollbar {
      width: 10px;
  }
  
  /* Track */
  .payment-scroller::-webkit-scrollbar-track {
      background: #f1f1f1;
  }
  
  /* Handle */
  .payment-scroller::-webkit-scrollbar-thumb {
      background: #888;
  }
  
  /* Handle on hover */
  .payment-scroller::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
  
  .title-pop {
      color: white;
      height: 10px;
  }
  
  .head-pop {
      background-color: #fbce1b;
      /*width: 100%;*/
      padding: 10px;
      /*height: 60px;*/
      display: flex;
      justify-content: space-between;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }
  
  /* The Close Button */
  .tutup {
      color: #fff;
      font-weight: 600;
  }
  
  .tutup:hover,
  .tutup:focus {
      color: #fbce1b;
      text-decoration: none;
      cursor: pointer;
  }
  
  .category-title {
      width: 100%;
      margin: 0 !important;
      padding: 5px 10px;
      background-color: #e6e6e6;
  }
  
  .item-method {
      padding-left: 30px !important;
      padding: 5px 10px;
      border-bottom: 1px solid #e6e6e6;
      display: flex;
      cursor: pointer;
  }
  .item-method:hover {
      background-color:  #f8f7f7;
  }
  
  .logo-payment {
      max-height: 40px;
  }
  
  .title-payment {
      max-height: 40px;
      margin-bottom: 0px !important;
      padding-top: 10px;
      margin-left: 20px;
  }
  
  .center{
    text-align: center;
    margin-bottom: 0 !important;
  }
  .b600{
    font-weight: 600;
  }
  .nominal{
    font-size: 30px;
  }
  .no-rek-virtual{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e6e6e6;
  }
  .rek-virtual{
    flex: 1;
    padding-top: 5px;
    font-size: 18px;
  }
  .red-text{
    color: #fbce1b;
    font-weight: 600;
    cursor: pointer;
    padding-top: 7px;
  
  }
  
  .small-text{
    margin-top: 10px;
    color: #636363;
    font-size: 10px;
    margin-bottom: 0 !important;
    padding-left: 20px;
    padding-right: 20px;
  
  }
  
  .accordion-panduan{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px #e6e6e6 solid;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    min-height: 40px;
    padding-top: 10px;
  }
  
  .panel-ac{
          padding-left: 20px;
          padding-right: 20px;
          border: 1px #e6e6e6 solid;
          margin-left: 10px;
          margin-right: 10px;
          padding-top: 10px;
          display: none;
  }
  
  .display-none{
      display: none;
  }
  
  .display-block{
      display: block;
  }
  .item-panel{
      display: flex;
  }
  .poin-panel{
      background-color: #fbce1b;
      color: white;
      border-radius: 50%;
      width: 30px;
      height: 20px;
      text-align: center;
      margin-right: 20px;
  
  }
  .desc-panel{
      margin-bottom:10px;
      width: 100%;
  }
  .form-box-credit{
      margin-left: 20px;
      margin-right: 20px;
  }
  .form-full{
      width: 100%;
  }
  .half-form{
      width:  100%;
  }
  .credit-form{
      border-radius: 5px;
      margin-bottom: 10px;
      border: 1px solid #e6e6e6;
      height: 40px;
  }
  .flex-form{
      display: flex;
  }
  