@media (max-width: 1925px) {

}


@media (max-width: 1605px) {

}


@media (max-width: 1445px) {

}


@media (max-width: 1370px) {
.feat-inr {min-width: 70%;max-width: 100%;}
.orgn-inf {max-width: 70%;margin-left: 0;}
.gal-itm > h4 {min-width: 200px;font-size: 1.25rem;line-height: 1.75rem;}
.mini-gal.gal-itm:hover > h4 {top: 30%;}

}


@media (max-width: 1290px){
.testi-car {margin-left: 0;width: 100%;}
.testi-car .owl-nav {left: 0;right: 0;}

}


@media (max-width: 1210px) {

}


@media (max-width: 1030px) {
.container {padding: 0 0.9375rem;max-width: 100%;}

.wb-top-donate-title {min-width: 29.375rem;}
.wb-top-donate-list-wrap {padding-left: 0;}
.wb-top-donate-wrap {padding: 4.375rem 0;}
.abt-desc {max-width: 100%;}
.fct-bx {padding: 0 1.5rem;}
.dnt-sec h3 {font-size: 1.8rem;}
.evnt-thmb {min-width: 33rem;max-width: 33rem;}
.evnt-thmb + .evnt-inf {padding: 0 0 0 3rem;}
.evnt-bx.rev .evnt-thmb + .evnt-inf {padding-right: 3rem;}
.cntry-hlp-wrp {padding-left: 5rem;}
.blg-wrp .row > div:nth-child(3n+1) .blg-bx, 
.blg-wrp .row > div:first-child .blg-bx,
.blg-wrp .row > div:nth-child(2n) .blg-bx,
.blg-wrp .row > div:nth-child(2n+1) .blg-bx {padding: 0;}
.blg-wrp .row > div:nth-child(2n) .blg-bx .blg-thmb .blg-dat, 
.blg-bx .blg-thmb .blg-dat {left: 1.25rem !important;top: 1.25rem;}
.blg-bx .blg-thmb .blg-dat:before {display: none;}
.bcm-adpt-inr {max-width: 100%;}
.bcm-adpt-inr-wrp {padding: 5rem 4rem;}
.cpyrgt-p {margin-bottom: 0;line-height: 1.5rem;}
.cntry-hlp-car .owl-nav {left: 0.9375rem;right: 0.9375rem;}

.srv-bx {padding: 0;}
.srv-bx > i::after {right: -2rem;}


.tp-lnks + .tp-scl,
.tp-lnks > li + li {margin-left: 1rem;}
header.style2 nav > div > ul + a {margin-left: 2.5rem;}
header.style2 nav > div > ul > li + li {margin-left: 3rem;}
.orgn-inf {max-width: 100%;margin-left: 0;}
.orgn-bx {padding: 0 1rem;}
.huslnd-wrp h3 {max-width: 100%;}
.spnsr-chld-wrp .mrg > div {-ms-flex: 0 0 33.334%;flex: 0 0 33.334%;max-width: 33.334%;}
header.style1.v2 nav > div > ul + a {margin-left: 3rem;}
.feat-inr {min-width: 90%;}
.pvrty-inr {max-width: 80%;}

.vdo-wrp {margin: 7rem 0;}
.fndrs-img {padding-right: 0;}
.gal-lst > li {-ms-flex: 0 0 33.334%;flex: 0 0 33.334%;max-width: 33.334%;}
.nwsltr-titl > h6 {max-width: 100%;}
.ceo-msg > p {font-size: 1.65rem;}

.mnu-btn + a {display: none;}
.fndrs-inf {padding: 5rem 4rem;}

.pg-tp-bg {min-height: 25rem;}
.evnt-dtl-wrp {padding: 0;}
.vdo-bx > img {width: 100%;}
.col-md-8 .blog-dtl-wrp {padding-left: 4.5rem;}
.abt-pg-wrp > h2 {padding: 0 5rem;}
.cnt-inr {padding: 4rem;}

.spnsr-chld-dtl-tbs {padding-left: 2.5rem;padding-right: 2.5rem;}
.spnsr-chld-inf-lst-wrp > li {padding-left: 1.5rem;padding-right: 1.5rem;display: inline-block;}



}


@media (max-width: 995px) {
header,
.sticky-header {display: none !important;}
.rspns-hdr {display: block;}
.ovrlp92 {margin-top: 0;}

}


@media (max-width: 850px) {

}


@media (max-width: 770px) {
.wb-top-donate-title {min-width: initial;margin-bottom: 3rem;}
.wb-top-donate-title > i {top: -1rem;}
.abt-desc > p + a {margin-top: 2.5rem}
.abt-imgs-wrp {padding-left: 0;margin-top: 3.5rem;}
.abt-imgs-wrp > div > div:last-child {padding-top: 0;}

.dnt-sec {text-align: center;}
.dnt-sec h3 {max-width: 100%;}
.dnt-sec > .row > div:last-child {text-align: inherit;}
.dnt-sec .thm-btn {margin-top: 2rem;}
.evnt-bx {-ms-flex-wrap: wrap;flex-wrap: wrap;width: 100%;}
.evnt-thmb {max-width: 100%;min-width: initial;width: 100%;}
.evnt-thmb + .evnt-inf {padding: 0;margin: 2.3rem 0 0;}
.evnt-bx.rev .evnt-thmb + .evnt-inf {padding-right: 0;}
.evnt-bx.rev .evnt-thmb {order: 0;}
.sel-tckt-wrp {padding: 3rem;}
.cntry-hlp-wrp {padding-left: 0;margin-top: 3rem;}

.block,
.less-spacing,
.block.less-spacing {padding: 5rem 0;}

.top-spac90,
.block.top-spac90,
.top-spac100,
.block.top-spac100,
.top-spac104,
.block.top-spac104,
.top-spac110,
.block.top-spac110,
.top-spac170,
.block.top-spac170,
.top-spac220,
.block.top-spac220,
.top-spac250,
.block.top-spac250,
.top-spac270,
.block.top-spac270,
.top-spac460,
.block.top-spac460 {padding-top: 5rem;}

.bottom-spac90,
.block.bottom-spac90,
.bottom-spac100,
.block.bottom-spac100,
.bottom-spac104,
.block.bottom-spac104,
.bottom-spac110,
.block.bottom-spac110,
.bottom-spac170,
.block.bottom-spac170,
.bottom-spac220,
.block.bottom-spac220,
.bottom-spac250,
.block.bottom-spac250,
.bottom-spac270,
.block.bottom-spac270,
.bottom-spac460,
.block.bottom-spac460 {padding-bottom: 5rem}

.remove-gap,
.gap.remove-gap {padding-top: 0;}
.remove-bottom,
.block.remove-bottom {padding-bottom: 0;}
.no-padding,
.block.no-padding {padding: 0;}

.orgn-inf-wrp {padding: 5rem 0.9375rem;}
.blg-bx2.big {padding-right: 0;}
.blg-inf2 {min-height: 10.125rem;}
.spnsr-shp-titl {margin-bottom: 5rem;}
.spnsr-shp-titl-inr {max-width: 100%;}
.spnsr-shp-titl-inr > h2,
.fndrs-desc > h2,
.pvrty-inr > h2 {font-size: 2.3rem;}
.pvrty-inr > h2 {line-height: 3rem;}
.spnsr-chld-wrp .mrg > div,
.gal-lst > li {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
.vdo-wrp,
.pvrty-wrp {margin: 0;}
.fndrs-img {display: none;}
.slider-img {display: none !important;}
.nwsltr-titl {margin-bottom: 2rem;}

.abt-inf {left: 2rem;top: 2rem;}
.abt-wrp2 .abt-desc {margin-top: 2rem;}
.feat-inr {top: 50%;}


.feat-cap > h2,
.abt-desc3 > h2 {font-size: 2.7rem;line-height: 3rem;}
.sec-ttl.v2 .sec-ttl-inr {max-width: 100%;}
.sec-ttl-inr > h2 {font-size: 2.5rem;}
.abt-img {display: none;}
.abt-imgs-wrp .abt-img {display: block;}
.abt-desc3 {padding-left: 0;}
.fndrs-inf {margin-left: 0;width: 100%;margin: 1.25rem 0;}
.abt-wrp3.rev .abt-desc3 {width: 100%;}
.feat-cap3 > h2 {font-size: 15rem;line-height: 15rem;}
.evnt-bx.grd .evnt-thmb + .evnt-inf {padding-top: 0;}
.evnt-fclt-lst > li, 
.spnsr-lst > li {-ms-flex: 0 0 33.334%;flex: 0 0 33.334%;max-width: 33.334%;}
.blg-bx3 {padding: 2.625rem 3rem 1.25rem;}
.sdbr-wrp,
.abt-pg-imgs,
.cnt-inf,
.rltd-chld-wrp {margin-top: 3.5rem;}
.blog-dtl-wrp,
.cus-dtl-wrp,
.abt-img-wrp,
.abt-pg-wrp > h2,
.abt-pg-desc,
.fq-wrp .tab-pane,
.dnt-wrp,
.tem-dtl-wrp,
.tem-dtl-inf-inr {padding: 0;}
.cus-dtl-thmb .cus-dtl-dnt {left: 3.25rem;}
.srch-fund-inr {padding: 3rem;}
.dnt-frm-wrp {padding: 4rem;}
.hlp-bx {padding: 3rem 2rem;}
.srch-chld-frm-wrp {padding-left: 3.5rem;padding-right: 3.5rem;}

}


@media (max-width: 490px) {
.wb-top-donate-title > i {font-size: 5rem;top: 0;}
.wb-top-donate-title {padding-left: 7rem;margin-bottom: 2rem;}
.abt-desc > h2 {font-size: 2.3rem;line-height: 3rem;}
p {font-size: 1rem;}
.abt-desc > h2 + p {margin-top: 1.5rem;}
.fct-bx > i {margin-top: 1rem;}
.fct-bx > i + h6 {margin-top: 1.2rem;}
.sec-ttl-inr > h2,
.we-hlp-titl > h2,
.bcm-adpt-inr > h2,
.wb-top-donate-title > h2,
.prg-dnt-inr > h2,
.orgn-inf > h2,
.huslnd-wrp h3,
.feat-inr > h2,
.feat-cap > h2, 
.abt-desc3 > h2,
.no-chld-inr > h2,
.abt-pg-wrp > h2,
.cnt-inr > h2,
.dnt-titl > h2,
.hlp-wrp > h2 {font-size: 2.3rem;}
.cus-thmb > img {width: 100%;}
.dnt-sec h3,
.orgn-inf > h2,
.spnsr-shp-titl-inr > h2,
.abt-pg-wrp > h2,
.cnt-inr > h2 {line-height: 2.5rem;}
.sel-tckt-frm input:not([type="submit"]), 
.sel-tckt-frm button {margin-top: .5rem;}
.we-hlp-titl > p {font-size: 1.3rem;line-height: 2rem;}
.bcm-adpt-inr-wrp {padding: 4rem 0.9375rem;}
.ftr-dta-wrp .row > div:nth-child(2) .wdgt-bx {margin-top: 0;}
.wdgt-bx ul,
.wdgt-bx ul.abt-cnt-lst,
.wdgt-bx p,
.prg-dnt-inr > h2,
.no-chld-inr {max-width: 100%;}
.wdgt-bx ul + ul {margin-top: .6rem;}
.vw-mr {margin-top: 3rem;}
.sel-tckt-wrp {padding: 3rem 0.9375rem;}
.wb-top-donate-list > li,
.evnt-fclt-lst > li, 
.spnsr-lst > li {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
.prg-dnt-cls .thm-btn {float: left;margin-top: 1rem;}
.orgn-wrp > .row > div:nth-child(2) {order: -1;}
.huslnd-wrp h3 {padding: 0;margin-top: 3rem;}
.huslnd-wrp h3:before {display: none;}

.strs-itm {padding-left: 0;}
.strs-itm-inr {padding: 3rem 2.5rem;}
.strs-itm-inf > img {left: 0;position: static;max-width: 5rem;float: left;}
.strs-itm-inf > img + .strs-itm-inf-inr {width: calc(100% - 5rem);padding-left: 1.25rem;display: inline-block;vertical-align: middle;margin-top: .4rem;}
.strs-wrp > div.slick-btns > button::before {color: #333;border-bottom-color: #333;}
.strs-wrp > div.slick-btns > button.slick-prev {left: 0.9375rem;}
.strs-wrp > div.slick-btns > button.slick-next {right: 0.9375rem;}

.blg-bx2.big .blg-thmb + .blg-inf2 {width: 100%;margin-top: 0;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.blg-bx2.mid .blg-thmb {max-width: 100%;position: static;}
.blg-bx2.mid .blg-inf2 {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  width: 100%;
}
.blg-inf2 {padding: 2rem 2.5rem;}
.blg-bx2.mid .blg-inf2 {padding-left: 2.5rem;}
.spnsr-chld-wrp .mrg > div,
.gal-lst > li {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
.btm-br {text-align: center;}
.btm-lnks {float: none;display: inline-block;margin-top: 1rem;}


.pvrty-inr,
.cus-dtl-inf > h1 {max-width: 100%;}
.vdo-inr > a {min-width: 8rem;}
.vdo-inr > a i {line-height: 5rem;height: 5rem;}
.ceo-msg {padding: 0;text-align: inherit;margin-top: 2rem;}
.ceo-msg > p {line-height: 2.3rem;}
.fndrs-desc > h2,
.feat-cap > h2, 
.abt-desc3 > h2 {line-height: 3rem;}
.feat-inr > h2 {line-height: 3.5rem;}

.feat-img2 {display: none;}
.fndrs-inf {padding: 4rem 2rem;}
.feat-wrp2 {padding: 0 0 3rem;}
.ceo-msg2 {max-width: 100%;}
.gft-inr {padding: 3.5rem 3rem 4rem;}
.feat-cap3 > h2 {font-size: 10rem;line-height: 10rem;}
.pg-tp-bg {min-height: 15rem;}
.pg-srch-frm {margin-top: 1rem;max-width: 100%;}
.evnt-dtl-dt {width: 100%;margin-bottom: 1rem;}


blockquote {padding: 2rem 3rem;}
blockquote + .alignright {margin-bottom: 1.5rem;}
.athr-bx {text-align: center;padding: 2rem;}
.athr-bx:before {left: 0;}
.athr-bx > img {margin: 0 auto;}
.athr-bx > img + .athr-inf {width: 100%;padding-left: 0;margin-top: 1.5rem;}
.athr-scl {position: static;margin: 1rem auto 0;display: table;}
.cmt-bx {text-align: center;padding: 2rem;}
.cmt-bx:before {left: 0;}
.cmt-bx > img {margin: 0 auto;}
.cmt-bx > img + .cmt-inf {width: 100%;padding-left: 0;}
.comment-reply-link {position: static;margin: 1rem 0 0;display: inline-block;}
.cmt-bx + ul {padding-left: 0;}
.cmt-inf > h6 {display: block;margin: 1rem 0 0;}
.cmt-inf > h6 + span {margin-left: 0;}
.col-md-8 .blog-dtl-wrp {padding-left: 0;}
.blg-scl {position: static;max-width: 100%;margin-top: 1.5rem;}
.blg-scl > span {margin: 0 1rem 0 0;vertical-align: middle;}
.blg-scl > a {vertical-align: middle;}
blockquote.alignright {margin-left: 0;max-width: 100%;}
.spnsr-shp-titl {margin-bottom: 3rem;}

.cus-dtl-desc-bx > div {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;padding: 0 0.9375rem !important;}
.cus-dtl-desc-inf,
.abt-pg-wrp > h2 + .abt-pg-inr,
.tem-dtl-inf-inr {margin-top: 2.5rem;}
.cus-dtl-desc-bx > div.cus-dtl-desc-thmb {order: -1;}
.fq-wrp .tab-content {padding-top: 2.5rem;}
.error-inr {padding: 0;}
.cnt-fq {text-align: center;}
.cnt-fq > h2 a {margin: 1.25rem 0 0;}
.cnt-inr {padding: 3rem 1.25rem;}
.srch-fund-inr form input {width: 100%;border: 0;background-color: #fafafa;padding: 0 1.25rem;
	-webkit-border-radius: 2.5rem;
	border-radius: 2.5rem;
}
.srch-fund-inr form button {width: 100%;margin-top: .8rem;}
.dnt-frm-wrp {padding: 3rem 1.25rem;}
.dnt-fld3 {padding-left: 0;}
.dnt-fld3 > label {position: static;width: 100%;}
.dnt-fld-inr .slc-wrp {margin-bottom: .8rem;}
.alignright {margin-bottom: 1.25rem;}

.spnsr-chld-frm-wrp .row > div + div {margin-top: 2.5rem;}
.spnsr-chld-frm-wrp .row > div + div:before {border-left: 0;}
.spnsr-chld-frm-wrp {padding: 2.5rem;}
.spnsr-chld-inf-lst-wrp > li span {float: none;max-width: 100%;width: 100%;display: block;margin-top: .5rem;}
.spnsr-chld-dtl-tbs,
.spnsr-chld-frm-wrp,
.rltd-chld-inr,
.rltd-chld-wrp > h4 {padding-left: 1.5rem;padding-right: 1.5rem;}
.spnsr-chld-dtl-inf-inr {margin-top: 1.5rem;padding: 0;}




}


@media (max-width: 470px) {

}


@media (max-width: 430px) {

}


@media (max-width: 360px) {
.evnt-orgn {width: 100%;}
.evnt-inf-tp > span + .evnt-orgn {padding-left: 0;margin-top: 1rem;}
.error-inr > strong {font-size: 6rem;line-height: 8rem;}
.srch-fund-inr {padding: 3rem 1.25rem;}
.tem-dtl-inf-tp > a {margin-top: 1rem;}
.tem-dtl-inf-md {padding: 1.25rem;}
.tem-dtl-inf-lst > li span {max-width: 100%;}
.tem-dtl-inf-inr .tem-scl {padding-left: 0;}
.srch-chld-frm-wrp {padding-left: 1.25rem;padding-right: 1.25rem;}
.adv-srch-btn + button {float: none;}
.srch-chld-btns > a {width: 100%;text-align: center;}
.spnsr-chld-inf {max-width: 65%;min-width: 65%;}

}


@media (max-width: 330px) {
.evnt-inf-btm > a + .evnt-loc {margin: 0.3125rem 0 0;}
.cus-inf {padding: 2rem 1.5rem;}
.fct-bx {padding: 0;}
.wb-top-donate-title {padding-left: 0;}
.wb-top-donate-title > i {position: static;}
.wb-top-donate-title > i + h2 {margin-top: 1rem;}


.prg-dnt-cls-inf {width: 100%;}
.prg-dnt-cls > span + .prg-dnt-cls-inf {margin: 1rem 0 0;}
.orgn-bx {line-height: 15rem;min-height: 15rem;}
.strs-itm-inf > img {max-width: 100%;}
.strs-itm-inf > img + .strs-itm-inf-inr {width: 100%;padding: 0;margin-top: 1rem;}
.blg-inf2, .blg-bx2.mid .blg-inf2 {padding: 2rem;}
.spnsr-shp-titl-inr > h2,
.sec-ttl-inr > h2, 
.we-hlp-titl > h2, 
.bcm-adpt-inr > h2, 
.wb-top-donate-title > h2, 
.prg-dnt-inr > h2, 
.orgn-inf > h2, 
.huslnd-wrp h3, 
.feat-inr > h2,
.abt-wrp2 .abt-desc > h2,
.spnsr-shp-titl-inr > h2, 
.fndrs-desc > h2, 
.pvrty-inr > h2,
.feat-cap > h2, 
.abt-desc3 > h2,
.gft-inr > h4,
.no-chld-inr > h2,
.abt-pg-wrp > h2,
.cnt-inr > h2,
.dnt-titl > h2 {font-size: 2rem;}
.spnsr-shp-titl {margin-bottom: 3.5rem;}
.spnsr-chld-inf > span + a {margin-top: 2rem;}
.nwsltr-frm > button {position: relative;width: 100%;height: 3.75rem;}
.wdgt-bx.style2 ul.abt-cnt-lst li {padding-right: 0;}


.feat-itm > img, .feat-img {min-height: 46rem;max-height: 46rem;}
.feat-itm {max-height: 46rem;}
.feat-inr > h2 {line-height: 3.2rem;}
.abt-wrp2 .abt-desc > h2,
.spnsr-shp-titl-inr > h2, 
.fndrs-desc > h2, 
.pvrty-inr > h2, 
.feat-cap > h2, 
.abt-desc3 > h2,
.no-chld-inr > h2,
.dnt-titl > h2 {line-height: 2.7rem;}
.abt-inf {position: static;width: 100%;}
.ceo-msg > p {font-size: 1.5rem;}
.gal-itm > h4 {font-size: 1.5rem;min-width: 11rem;}
.mini-gal.gal-itm:hover > h4 {top: 35%;}
.nwsltr-titl {padding: 0;}
.nwsltr-titl > i {position: static;}
.nwsltr-titl > i + h6 {margin-top: 1.3rem;}
.nwsltr-frm2 {padding: 0;}
.nwsltr-frm2 > input {width: 100%;}
.nwsltr-frm2 > input + button {margin: 0.625rem 0 0;}
.nwsltr-frm2 > button {width: 100%;}

.blg-bx3 {padding: 2rem 1.25rem 1.25rem;}
.cat-bx > h4 {left: 1.5rem;}
.gft-inr {padding: 2rem 1.05rem;}
.countdown > li {margin: 0.3125rem;}
.pagination > li.page-item a.page-link, 
.pagination > li.page-item span.page-link {width: 2rem;}

.evnt-fclt-lst > li, 
.spnsr-lst > li {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
.evnt-orgn + .evnt-orgn,
.evnt-dtl-btns > a.thm-btn {margin: 1rem 0 0;}
.vdo-bx > a {min-width: 5.4rem;}
.vdo-bx > a i {line-height: 3.5rem;height: 3.5rem;}
.prc-bx {padding: 2.5rem 2.2rem;}
.wdgt-bx.v2,
.nwsltr-frm3 {padding: 2rem 1.5rem;}
.insta-gal-inf-inr {width: 100%;}
.insta-gal-inf > * {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
.insta-gal-inf > a {width: 100%;text-align: center;margin-top: 1rem;}
blockquote,
blockquote.alignright {padding: 2rem;}
.athr-bx,
.cmt-bx {padding: 2rem 1.5rem;}
.cus-dtl-thmb .cus-dtl-dnt {padding: 1rem;position: static;text-align: center;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.cus-dtl-thmb .cus-dtl-dnt .thm-btn {margin-left: 0;width: 100%;}
.cus-dtl-inf .cus-cat {display: inline-block;margin-bottom: 1rem;}
.gal-itm > a {line-height: 3.125rem;height: 3.125rem;width: 3.125rem;}

.cmg-frm > input {width: 100%;}
.cmg-inr > ul + form {margin-top: 3rem;}
.cmg-frm > button {width: 100%;}
.cmg-frm > input + button {margin: 0.9375rem 0 0;}
.cnt-inf {padding: 2rem;}
.pymnt-mthd .cstm-rdo + .cstm-rdo {margin-left: 0;}
.spnsr-chld-dtl-tbs .nav-tabs li.nav-item {width: 100%;text-align: center;}

}