.statistik-box{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    -webkit-box-shadow: 0px 6px 16px 5px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 6px 16px 5px rgba(0,0,0,0.11);
    box-shadow: 0px 6px 16px 5px rgba(0,0,0,0.11);
    border-radius: 10px;
}
.item-statistik{
    height: 100px;
    flex:1;
    text-align: center;
    padding-top: 10px;
}

.nominal-text{
    margin-bottom: 0px !important;
    font-weight: 600;
    font-size: 25px;
    color: #e91d24;
}
.title-text{
    margin-bottom: 0px !important;
}

@media screen and (max-width: 425px) {
    .statistik-box{
        flex-direction: column;
        padding-bottom: 15px;
    }
}